/* colors and fonts */
body {
    background-color: rgb(48, 36, 54);
    color: rgb(200, 240, 255);
}
h1, h2, h3, h4 {
    color: rgb(140, 230, 255);
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 6vmin;
}
h2 {
    font-size: 5vmin;
}
h3 {
    font-size: 4vmin;
}
h4, .dditem, .dropbtn {
    font-size: 2vmin;
}
p, summary, li {
    font-size: 3vmin;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
}
a.dditem, a.dditem:visited {
    text-decoration: none;
    text-decoration-color: none;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color: rgb(48, 36, 54);
}
a {
    text-decoration: none;
    text-decoration-color: none;
    color: rgb(140, 230, 255);
}
.dropdown-content, .dropdown-content a.dropbtn {
    color: rgb(48, 36, 54);
}
.dropbtn:hover, a:hover {
    color: #2980B9;
}
/* flex containers */
.flex-vertical {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.flex-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* content widths */
.header, .page-content, .footer {
    margin: auto;
    width: 100%;
    max-width: 1536px;
    padding-left: -7%;
    padding-right: -7%;
}
/* header */
.outer-header, .middle-header {
    width: 33%;
}
.middle-header {
    text-align: center;
}
.header {
    border-bottom: 3px solid rgb(80, 190, 255); 
}
/* body */
.page-content {
    flex: 1;
    overflow-y: auto;
}
/* footer */
.left-footer, .right-footer {
    width: 50%;
}
.footer {
    flex-shrink: 0;
    border-top: 2px solid rgb(80, 190, 255);
}
/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    cursor: pointer;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-content a, .dropdown-side a {
    background-color: rgb(80, 200, 255);
    padding: 12px 16px;
    border: 1px solid rgb(48, 36, 54);
    display: block;
}
.dropdown-side {
    display: none;
    position: absolute;
    top: auto;
    left: 100%;
    z-index: 1;
}
.show {display: block;}
  