/* colors and fonts */
body {
    background-color: rgb(48, 36, 54);
    color: rgb(200, 240, 255)
}
h1, h2, h3, h4 {
    color: rgb(140, 230, 255);
}
h1 {
    font-size: 6vw;
}
h2 {
    font-size: 5vw;
}
h3 {
    font-size: 4vw;
}
h4, .dditem, .dropbtn {
    font-size: 2vw;
}
p {
    font-size: 3vw;
}
a.dditem, a.dditem:visited {
    text-decoration: none;
    text-decoration-color: none;
    color: rgb(48, 36, 54);
}
a.inline-link {
    text-decoration: none;
    text-decoration-color: none;
    color: rgb(140, 230, 255);
}
.dropdown-content {
    color: rgb(48, 36, 54);
}
.dropbtn:hover, a:hover {
    color: #2980B9;
}
/* flex containers */
.flex-vertical {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.flex-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* header */
.outer-header, .middle-header {
    width: 33%;
}
.middle-header {
    text-align: center;
}
.header {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-bottom: 3px solid rgb(80, 190, 255); 
}
/* body */
.page-content {
    width: 78%;
    margin-left: 11%;
    margin-right: 11%;
    flex: 1;
    overflow-y: auto;
}
/* footer not currently in use :) */
/* .footer {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    flex-shrink: 0;
    border-top: 2px solid rgb(80, 190, 255);
} */
/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-content a, .dropdown-side a {
    background-color: rgb(80, 200, 255);
    padding: 12px 16px;
    border: 1px solid rgb(48, 36, 54);
    display: block;
}
.dropdown-side {
    display: none;
    position: absolute;
    top: auto;
    left: 100%;
    z-index: 1;
}
.show {display: block;}
  