body {
    background-color: rgb(48, 36, 54);
}
h1, h2, h3 {
    color: rgb(140, 230, 255);
}
p {
    color: rgb(200, 240, 255)
}
.header {
    position: fixed;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 10%;
    top: 0;
    bottom: 10%;
    border-bottom: 3px solid rgb(255, 255, 196); 
}
.page-content {
    position: fixed;
    width: 78%;
    margin-left: 11%;
    margin-right: 11%;
    top: 11%;
    height: 88%;
    overflow: auto;
}
/* footer not in use yet :) */
/* .footer {
    position: fixed;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 5%;
    bottom: 0;
    text-align: center;
    border: 3px solid rgb(255, 255, 196)
} */